<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <a class="title-red-social">Red Social</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-light"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar</button>
        </li>
      </ul>
      <ul class="d-flex align-items-center navbar-nav-two">
        <li>
          <div class="d-flex button-profile">
            <div class="position-relative">
              <i class="bi bi-bell-fill"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                1
              </span>
            </div>
          </div>
          <ul class="list-options">
            <li class="d-flex align-items-center">
              <p>Cesar Augusto</p>
              <div class="d-flex">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-primary">Rechazar</button>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <div class="d-flex button-profile">
            <div class="d-flex align-items-center">
              <div class="background-circle">
                <i class="bi bi-person-circle"></i>
              </div>
            </div>
            <div class="name-type">
              <div>
                <p>César Cortés</p>
              </div>
            </div>
          </div>
          <ul class="list-options">
            <li class="d-flex align-items-center" (click)="logOut()">
              <i class="bi bi-box-arrow-right"></i>
              <a>Salir</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Buscar amigo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="form-control me-2" type="search"
            placeholder="Buscar" aria-label="Search">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cesar Cortes</td>
              <td>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary">Agregar</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Cesar Cortes</td>
              <td>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-primary">Agregar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>