.body-p {
  background-color: #62C3ED;
  main {
    min-height: 100vh;
    background-image: url("../../../../assets/image-login.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: default;
    .back-form {
      min-height: 100vh;
      position: absolute;
      right: 15%;
      .form {
        width: 300px;
        background-color: white;
        max-width: 350px;
        padding: 5% 10%;
        border-radius: 2%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
        .title {
          color: #0F66DB;
          font-size: 30pt;
          font-weight: bold;
          text-align: center;
        }
        .text {
          color: grey;
          font-size: 14pt;
          font-weight: 400;
          text-align: center;
        }
        form {
          label {
            color: gray;
            font-size: 13pt;
            font-weight: 500;
          }
          button.button-p {
            color: white;
            font-size: 14pt;
            font-weight: 500;
            background-color: #0F66DB;
            width: 100%;
            height: 45px;
            text-align: center;
            &:hover {
              background-color: #085ecf;
            }
          }
          p {
            text-align: center;
            width: 100%;
            color: grey;
            font-size: 12pt;
            font-weight: 400;
            text-align: center;
            a {
              color: #0F66DB;
              font-size: 12pt;
              font-weight: 400;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}